<div *ngIf="buch">
<h2>{{buch.name}}</h2>
<div>
    Name:
    <input [(ngModel)]="buch.name" placeholder="Name"/>
</div>
<div>
    Niveau:
    <input [(ngModel)]="buch.niveau" placeholder="Niveau"/>
</div>
<div>
    Preis:
    <input [(ngModel)]="buch.preis" placeholder="Preis"/>
</div>
<button mat-stroked-button color="primary" (click)="erstelleBuch(buch)" *ngIf="!buch.id">Speichern</button>
<button mat-stroked-button color="warn" (click)="entferneBuch(buch)" *ngIf="buch.id">Entfernen</button>
<button mat-stroked-button color="accent" (click)="aktualisiereBuch(buch)" *ngIf="buch.id">Aktualisieren</button>


</div>
